# Maven build files
target
*.log
maven-eclipse.xml
build.properties
site-content
*~

# IntelliJ IDEA files
.idea
.iws
*.iml
*.ipr

#MacOS Files
*.DS_Store
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store